{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport",content="width=device-width,initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body> 
	<h1>Pokemon gO`</h1>
	<div class="battle">
			
		<div class="player", id = "player">
			<h4>Player</h4>
			<div>
				<div class="card-author">
					<a href="#" class="author-avatar">
						<img src='src'></a>
				</div>
				<header class="card-header">
					<h2>name</h2>
					<p>Rank:rank</p>
				</header>
			</div>
		</div>
		
		<div class="computer", id = "computer">
			<h4>Computer</h4>
			<div>
				<div class="card-author">
					<a href="#" class="author-avatar">
						<img src='src'></a>
				</div>
				<header class="card-header">
					<h2>name</h2>
					<p>Rank:rank</p>
				</header>
			</div>
		</div>
	</div>

	<section class="card-list">
		{% for i in list%}
		<div class="card" onclick="disp_card()">
			<div class="card-author">
				<a href="#" class="author-avatar">
					<img src={{i.url}}></a>
			</div>
			<header class="card-header">
				<h2>{{i.name}}</h2>
				<p>Rank:{{i.rank}}</p>
			</header>
		</div>
		{%endfor%}
	</section>
</body>

<script type="text/javascript">

</script>

</html>
